<!-- <h4 class="border-bottom">Araçlar</h4>
<div class="list-group">
  <a *ngFor="let arac of Arac" routerLink="/Arac/{{arac.Id}}" class="list-group-item list-group-item-action">{{arac.marka}}>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{arac.marka}}</h5>
      <small class="text-muted">Description</small>
    </div>
    <p class="mb-1">{{arac.gunlukKiralamaUcreti | currency:'₺':false:'1.2-2'}}</p>
    <small class="text-muted">{{arac.vitesTuru | titlecase}}</small>
  </a>
</div>
 -->
 
 <!-- <h4 class="border-bottom">
    {{title}}
  </h4>
    <div class="list-group">
    <a *ngFor="let category of categories" routerLink="/Arac/{{arac.marka}}" class="list-group-item list-group-item-action">{{arac.marka}}</a>
  </div> -->
  